{* This is the welcome page, you can delete it *}
{block content}

    <h1 n:block="title">Administrace-deteail příspěvek</h1>
    <p><a n:href="Home:default" class="ajax">← zpět na výpis příspěvků</a></p>
    
    {control postDetailControl}
    
    {control postGrid}
{/block}

{block styles}

{/block}