{* This is the welcome page, you can delete it *}

{block content}
    <h1 n:block="title">Default News</h1>
    <a n:href="Post:add" n:if="$user->isLoggedIn()">Napsat nový příspěvek</a>

    {control postGrid}
{/block}