
<div class="date">{$post->created_at|date:'F j, Y'}</div>

<h2><a href="{plink Post:show $post->id}" n:tag-if="$user->isAllowed('post','view')">{$item->title}</a></h2>

<div>{$item->content}</div>
   
    